* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  padding: 0 40px;
  color: white;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(180deg, #0c1445, #0e1e58);
}

header {
  position: fixed;
  top: 0;
  left: 40px;
  z-index: 100;
  width: calc(100% - 80px);
  padding: 15px 60px;
  background: rgba(12, 20, 69, 0.95);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0 0 15px 15px;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 20px rgba(0, 150, 255, 0.3);
}

header .logo {
  font-size: 28px;
  font-weight: 700;
  color: #fff;
  font-family: "Playfair Display", serif;
  letter-spacing: 1px;
}

nav a {
  position: relative;
  margin: 0 18px;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
  transition: 0.3s ease;
  padding-bottom: 5px;
}

nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background: #00aaff;
  transition: width 0.3s ease;
}

nav a:hover::after,
nav a.active::after {
  width: 100%;
}

nav a:hover,
nav a.active {
  color: #00aaff;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1100px;
  margin: 0 auto;
  padding: 160px 80px 100px;
}

.hero-text h1 {
  font-size: 30px;
  line-height: 1.3;
}

.hero-text span {
  color: #9ecaff;
  font-family: "Playfair Display", serif;
}

.hero-text h3 {
  margin-top: 10px;
  font-style: italic;
  color: #b0c4ff;
}

.socials {
  margin: 20px 0;
}

.socials a {
  margin-right: 15px;
  font-size: 22px;
  color: #00aaff;
  transition: 0.3s ease;
}

.socials a:hover {
  color: #fff;
}

.btn{
  display: inline-block;
  padding: 12px 28px;
  background: #007bff;
  color: white;
  font-weight: 600;
  text-decoration: none;
  border-radius: 30px;
  box-shadow: 0 0 12px #008cff;
  transition: 0.3s ease;
}

.btn:hover {
  background: #0094ff;
  box-shadow: 0 0 20px #00c6ff;
  transform: scale(1.05);
}

.hero-img img {
  width: 250px;
  border-radius: 30px;
  box-shadow: 0 0 30px #007bff;
}

.about {
  max-width: 1000px;
  margin: 100px auto;
  padding: 100px 0;
  text-align: center;
  background: radial-gradient(circle, #001d4f, #0c1445);
  border-radius: 20px;
  box-shadow: 0 0 30px #007bff;
}

.about h2 {
  font-size: 32px;
  margin-bottom: 30px;
  font-family: "Playfair Display", serif;
}

.about span {
  color: #9ecaff;
}

.about-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.about-content p {
  max-width: 600px;
  text-align: left;
  line-height: 1.8;
  font-weight: 500;
}

.about-content img {
  width: 170px;
  border-radius: 225px;
  box-shadow: 0 0 20px #007bff;
  margin-bottom: 35px;
}

.skills {
  max-width: 1000px;
  margin: 100px auto;
  padding: 100px 0;
  text-align: center;
}

.skills h2,
.hero-project h1,
.contact-title {
  color: #ffffff;
}

.skills h2 span,
.hero-project h1 span,
.contact-title span {
  color: #9ecaff;
  font-family: "Playfair Display", serif;
}

.skills h2 {
  font-size: 32px;
  margin-bottom: 50px;
  font-family: "Playfair Display", serif;
}

.skills-grid {
  display: grid;
  gap: 40px;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
}

.skill-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  background-color: #02134d;
  border-radius: 20px;
  box-shadow: 0 0 25px #007bff;
  transition: 0.3s ease;
}

.skill-item:hover {
  transform: scale(1.1);
  box-shadow: 0 0 40px #00aaff;
}

.skill-item img {
  width: 70px;
  height: 70px;
}

section {
  scroll-margin-top: 120px;
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
    left: 20px;
    width: calc(100% - 40px);
    padding: 15px 20px;
  }

  nav a {
    margin: 10px 12px;
    display: inline-block;
  }

  .hero {
    flex-direction: column;
    text-align: center;
    padding: 140px 20px 80px;
  }

  .hero-img {
    margin-top: 30px;
  }
}

/* ====== WRAPPER PROJECT ====== */
.hero-project {
  text-align: center;
  padding: 80px 20px;
  color: white;
  font-family: "Poppins", sans-serif;
}

.hero-project h1 {
  font-size: 40px;
  margin-bottom: 40px;
  font-family: "Playfair Display", serif;
  color: #ffffff;
}

/* ====== PROJECT CONTAINER ====== */
.project-scroll {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

/* ====== PROJECT CARD ====== */
.project-card {
  width: 260px;
  background: #022a68;
  border-radius: 40px;
  padding-bottom: 20px;
  box-shadow: 0 0 25px rgba(0, 153, 255, 0.6);
  transition: 0.3s ease;
  overflow: hidden;
  text-align: center;
}

/* Hover Glow */
.project-card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 40px rgba(0, 180, 255, 0.9);  
}

/* ====== IMG STYLE ====== */
.project-card img {
  width: 100%;
  height: 280px;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
  background: #dcdcdc;
}

/* ====== TEXT ====== */
.project-card h3 {
  margin-top: 20px;
  color: white;
  font-size: 32px;
}

.project-card p {
  font-size: 16px;
  margin: 8px 0 16px;
  color: #2a59a4;
  text-align: justify;
  padding: 15px;
  word-spacing: 1px;
}

/* ====== BUTTON ====== */
.project-card button {
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  background: #007bff;
  color: white;
  font-size: 14px;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0 0 10px #007bff;
}

.project-card button:hover {
  background: #0099ff;
  box-shadow: 0 0 18px #00c0ff;
}

/* ====== RESPONSIVE ====== */
@media (max-width: 600px) {
  .project-card {
    width: 90%;
  }
  .project-card img {
    height: 300px;
  }
}

.contact-section {
  max-width: 1100px;
  margin: 120px auto;
  padding: 60px;
  background: #02134d;
  border-radius: 20px;
  box-shadow: 0 0 30px #007bff;
}

.contact-title {
  text-align: center;
  font-size: 32px;
  margin-bottom: 40px;
  font-family: "Playfair Display", serif;
}

.contact-title span {
  color: #ffffff;
}

.contact-container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.contact-form {
  flex: 1;
  background: #0c1b5e;
  padding: 25px;
  border-radius: 20px;
  box-shadow: 0 0 20px #007bff;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 12px;
  border: none;
  outline: none;
  border-radius: 10px;
  background: #12256d;
  color: white;
  font-size: 16px;
  box-shadow: 0 0 5px #005eff;
}

.btn-submit {
  padding: 12px;
  background: #005eff;
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 0 5px #0084ff;
  transition: 0.3s;
}

.btn-submit:hover {
  background: #0084ff;
  box-shadow: 0 0 15px #00a6ff;
}

@media (max-width: 768px) {
  .project-flex,
  .project-bottom,
  .contact-container {
    flex-direction: column;
    align-items: center;
  }

  .project-side {
    width: 100%;
  }
}

/* =============== FOOTER =============== */
.footer {
  background: #02134d;
  text-align: center;
  border-radius: 20px 20px 0 0;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 25px; /* Ubah angka ini untuk mengatur jarak */
  margin-bottom: 15px;
}

/* COPYRIGHT */
.copy {
  font-size: 15px;
  opacity: 0.9;
}

/* ========== FOOTER RESPONSIVE ========== */
@media (max-width: 768px) {
  .footer {
    padding: 40px 15px;
  }

  .footer-title {
    font-size: 20px;
  }

  .footer-socials img {
    width: 28px;
  }

  .copy {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .footer {
    padding: 35px 15px;
  }

  .footer-title {
    font-size: 18px;
  }

  .footer-socials {
    gap: 20px;
  }

  .footer-socials img {
    width: 26px;
  }

  .copy {
    font-size: 13px;
  }
}

/* ===================== RESPONSIVE GLOBAL ===================== */
@media (max-width: 1024px) {
  body {
    padding: 0 20px;
  }

  header {
    left: 20px;
    width: calc(100% - 40px);
    padding: 10px 25px;
  }

  .hero {
    padding: 140px 40px 80px;
  }
}

/* ===================== TABLET ===================== */
@media (max-width: 850px) {
  .hero {
    flex-direction: column;
    text-align: center;
  }

  .hero-img img {
    width: 220px;
    margin-top: 25px;
  }

  .about-content {
    flex-direction: column;
    text-align: center;
  }

  .about-content p {
    text-align: center;
  }

  .skills-grid {
    gap: 25px;
  }

  .project-bottom {
    flex-direction: column;
  }

  .project-side {
    width: 100%;
  }

  .project-box {
    width: 100%;
    max-width: 350px;
  }

  .contact-container {
    flex-direction: column;
  }
}

/* ===================== MOBILE ===================== */
@media (max-width: 600px) {
  /* HEADER */
  nav a {
    margin: 8px;
    font-size: 14px;
  }

  .hero {
    padding: 130px 10px 60px;
  }

  .hero-text h1 {
    font-size: 22px;
  }

  .hero-text h3 {
    font-size: 16px;
  }

  .hero-img img {
    width: 180px;
  }

  /* ABOUT */
  .about {
    padding: 60px 20px;
  }

  .about h2 {
    font-size: 26px;
  }

  .about-content img {
    width: 120px;
  }

  /* SKILLS */
  .skills {
    padding: 60px 10px;
  }

  .skills-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  /* PROJECT */
  .project-section {
    padding: 30px;
  }

  .project-bottom {
    flex-direction: column;
  }

  .project-box {
    width: 100%;
  }

  .project-side img {
    height: 150px;
  }

  /* CONTACT */
  .contact-section {
    padding: 40px 20px;
  }

  .contact-form input,
  .contact-form textarea {
    font-size: 14px;
  }

  .btn-submit {
    padding: 10px;
  }

  /* FOOTER */
  .footer-title {
    font-size: 18px;
  }

  .socials a img {
    width: 22px;
  }

  .copy {
    font-size: 12px;
  }
}

.project-scroll {
  gap: 100px;
}

.btn-download {
  display: inline-block;
  padding: 12px 28px;
  background: #007bff;
  color: white;
  font-weight: 600;
  text-decoration: none;
  border-radius: 30px;
  box-shadow: 0 0 12px #008cff;
  transition: 0.3s ease;
}

.btn-download:hover {
  background: #0094ff;
  box-shadow: 0 0 20px #00c6ff;
  transform: scale(1.05);
}

/* ===================== EXTRA SMALL MOBILE ===================== */
@media (max-width: 400px) {
  .hero-text h1 {
    font-size: 18px;
  }

  .hero-text h3 {
    font-size: 14px;
  }

  nav a {
    margin: 5px;
  }

  .skills-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }

  .project-section {
    padding: 20px;
  }
}

@media (max-width: 767px) {
  header {
    padding: 10px 15px;
  }
}
